---

const {title,description} = Astro.props
---

<div class="">
    <h1 class="recipe-title text-4xl md:text-5xl text-[#312E2C] ">{title}</h1>
    <p class="mt-6 text-base font-light text-[#5F564D] recipe-description">{description}</p>
</div>


<style>
    .recipe-title {
        font-family: 'Young Serif', serif;
    }

    .recipe-description {
        font-family: 'Outfit Variable', sans-serif;
    }

</style>